<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="cyan">
<form method="POST">
    {% csrf_token %}
<center>
    <h1>Admin Page</h1>
<!--    <input type="submit" name="add" value="add">&nbsp&nbsp&nbsp&nbsp-->
<!--    <input type="submit" name="delete" value="delete">&nbsp&nbsp&nbsp&nbsp-->
<!--    <input type="submit" name="update" value="update">&nbsp&nbsp&nbsp&nbsp-->
    <input type="submit" name="studentdb" value="studentdb">&nbsp&nbsp&nbsp&nbsp
    <input type="submit" name="coursedb" value="coursedb">&nbsp&nbsp&nbsp&nbsp




</center>
    </form>
</body>
</html>