<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<center>
    <form method="POST">


        <br>
        <label>TaskId</label>
        <input type="text" name="id" placeholder="Enter Id (ignored for adding) "><br><br>
        <label>TaskName</label>
        <input type="text" name="tasktodo" placeholder="Enter the task name "  >
        <br><br><br>
        <input type="submit" name="id1" value="add">
        <input type="submit" name="id1" value="update">
        <input type="submit" name="id1" value="delete">
        <input type="submit" name="id1" value="retrieve">
        <br><br>
        </form>

    </center>
</body>
</html>